/* Add CSS Styling */

.odd {
    background-color: #ffb6c1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: #0000ff;
    font-size: 32px;
}

.odd.third{
    font-size:24px;
}